* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./images/pexels-aline-nadai-1887792.jpg);
    height: 100px;
    overflow: hidden;
    background-size: cover;
    background-repeat: repeat;
}
.app-main{
    width: 25%;
    height: auto;
    margin: 130px auto;
    border: transparent;
    background-color: rgba(240, 248, 255, 0.6);
    padding: 20px;
    text-align: center;
}
.app-main > *{
    margin-bottom: 20px;
}
@media screen and (max-width: 900px){
    .app-main{
        width: 75%;
        
    }
}
.input-box{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    border: none;
    outline: none;
    color: #4c546b;
    font-size: 1.3em;
    height: 50px;
    border-radius: 5px;
}
.input-box:focus{
    background-color: white;
}
.weather-body{
    /* display: none; */
    color: #4c546b;
    padding: 20px;
    line-height: 30px;
    border-radius: 10px; 
    background-color: rgba(255, 255, 255, 0.7);
    height: 300px;
}
.location-details{
    font-weight: bold;
}
.weather-status{
    padding: 20px;
}
.temp{
    font-size: 50px;
    font-weight: 700;
    margin: 20px 0px;
    text-shadow: 2px 4px rgba(0,0,0,0.3);
}
.min-max, .weather{
    font-size: 20px;
    font-weight: 600;
}